*/.vs/
*/obj/
lab_1/app/.vs/
lab_1/app/app/obj/
lab_1/app/appTests/bin/
lab_1/app/app/bin/
lab_1/app/appTests/obj/
lab_1/app/packages/
lab_1/app/UnitTestProject/bin/
lab_1/app/UnitTestProject/obj/
lab_2/app/.vs/
lab_2/app/app/bin/
lab_2/app/app/obj/
lab_2/app/appTests/bin/
lab_2/app/appTests/obj/
lab_2/app/packages/
lab_2/app/UnitTestProject/bin/
lab_2/app/UnitTestProject/obj/
lab_4/app/app/obj/
lab_4/app/.vs/
lab_4/app/app/bin/
lab_4/app/appTests/bin/
lab_4/app/appTests/obj/
lab_4/app/packages/
lab_4/app/UnitTestProject/bin/
lab_4/app/UnitTestProject/obj/
